/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1,
h1 a {
  font-size: 120%;
  line-height: 1.5em;
}

h2 {
  font-size: 110%;
}

h3 {
  font-size: 105%;
}

h4, h5, h6 {
  font-size: 100%;
}

p {
  margin: 1em 0;
}

a {
  color: #a00;
}

a:hover,
a:hover:visited {
  color: black;
}

a:visited {
  color: #a00; /*a0a;*/
}

table {
  font-size: inherit;
  font: 100%;
}

/*
blockquote {
  background: url("/images/oquote.png") left -6px no-repeat;
  min-height: 32px;
  text-indent: 32px;
  margin-left: 30px;
  font-style: italic;
  font-weight: lighter;
  border-left: none;
  padding-left: 0px;
}

blockquote p {
  font-style: italic;
  font-weight: lighter;
}
*/

pre {
  white-space: pre;
  word-wrap: normal;
}

pre,
code {
  font-size: 14px;
  font-family:  Courier New, Monaco, Andale Mono, monospace;
}

article header {
  position: relative; /*  position:relative + position:absolute */
}

article header h1 {
  margin-bottom: 0.1em;
}

.previous-posts .more {
    text-align: right;
}

.tweet,
.plusone {
  display: inline;
}

.twipsy {
  display: block;
  position: absolute;
  visibility: visible;
  padding: 5px;
  font-size: 14px;
  z-index: 1000;
  filter: alpha(opacity=95);
  -khtml-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
}

/*****************************************************************************/
/*
/*
/*
/*****************************************************************************/
#cloud {
  width: 30em;
  text-align: center;
  margin: auto;
  height: 5em;
}
#cloud span  { 
  float:left; 
  margin-left:2px;
  margin-right:2px;
}
#cloud span.color1 {
  color:#a00;
}
#cloud span.color2 {
  color:#B88A00;
}
#clour span.color3 {
  color:#F5B800;
}
#cloud .tag1  { font-size: 0.7em; font-weight: 100; }
#cloud .tag2  { font-size:  8px; font-weight: 200; height: 8px;  line-height: 8px;}
#cloud .tag3  { font-size: 12px; font-weight: 300; height: 12px; line-height: 12px;}
#cloud .tag4  { font-size: 14px; font-weight: 400; height: 14px; line-height: 14px;}
#cloud .tag5  { font-size: 16px; font-weight: 500; height: 16px; line-height: 16px;}
#cloud .tag6  { font-size: 20px; font-weight: 600; height: 20px; line-height: 20px;}
#cloud .tag7  { font-size: 24px; font-weight: 700; height: 24px; line-height: 24px;}
#cloud .tag8  { font-size: 28px; font-weight: 800; height: 28px; line-height: 28px;}
#cloud .tag9  { font-size: 32px; font-weight: 900; height: 32px; line-height: 32px;}
#cloud .tag10 { font-size: 40px; font-weight: 900; height: 40px; line-height: 40px;}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  text-align: justify;
  width: 40em;
  margin: 1em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  border-bottom: 4px solid #eee;
  margin-bottom: 2em;
}

.subtitle {
  clear:both;
  font-size:80%;
  font-weight:normal;
  margin-bottom: 2em;
}

  .site .title .sitename {
    font-size: 140%;
  }

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title .extra-separator {
    margin-left: 0.5em;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 0.5em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: .2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

  .site .credits {
    clear:both;
    font-size:80%;
    font-weight:lighter;
  }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {

}

  .post h1.entry-title {
    font-size:120%;
  }

  .post .entry-time {
    margin-top: 7px;
    position:absolute;
    left:-100px;
  }

  .post .entry-tags {
    margin: 0 0;
    clear: both;
    font-weight: lighter;
    font-style: italic;
  }

  .post .body {
    margin-top:2em;
    font-size:100%;
    line-height:1.25em;
  }

    .post .body .more {
      text-align: right;
      font-weight: lighter;
      font-style: italic;
    }

  /* standard */

  .post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  .post ul,
  .post ol {
    margin-left: 1.35em;
  }

  .post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    .post pre code {
      border: none;
    }

  /* terminal */

  .post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  .post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }